<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atualizar alimento</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head> 
    <body>
        <div class="container"> 
            <h1>Atualizar alimento</h1> 
            <hr>  
            <form action="atualizarAlimento" object="" method="POST">
                <input type="text" field="nome" placeholder="Nome alimento" class="form-control mt-4 col-4">
                <input type="text" field="quantidade" placeholder="Quantidade(g)" class="form-control mt-4 col-4">
                <input type="text" field="proteina" placeholder="Qtd proteína(g)" class="form-control mt-4 col-4">
                <input type="text" field="carboidrato" placeholder="Qtd carboidrato(g)" class="form-control mt-4 col-4">
                <input type="text" field="gordura" placeholder="Qtd gordura(g)" class="form-control mt-4 col-4">
                <input type="text" field="kcal" placeholder="Kcal" class="form-control mt-4 col-4">
                <input type="hidden" field="id">
                <br>
                <button type="submit" class="btn btn-success col-2">Atualizar</button>
            </form> 
             <hr> 
             <a href="/">Voltar</a> 
        </div> 
    </body>         
</html>
