<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esqueci minha senha</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    </head> 
    <body>
        <div class="container"> 
            <h1>Atualizar senha</h1> 
            <hr>  
            <form id="atualizarSenha" action="#" th:action="@{/salvarSenha}" th:object="${usuario}" method="POST">
                <input name="email" id="email" type="email" th:field="*{email}" placeholder="Insira seu email" class="form-control mt-4 col-4" required>
                <input name="senha" id="senha" type="password" th:field="*{senha}" placeholder="Insira a nova senha" class="form-control mt-4 col-4" required minlenght="6">
                <input type="hidden" th:field="*{id}">
                <br>
                <button type="submit" class="btn btn-success col-2">Cadastrar</button>
            </form>
            <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
             <hr>
             <a href="/">Voltar</a> 
        </div>
        <script>
            $(document).ready(function () {
                $("#atualizarSenha").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        senha: {
                            required: true,
                            minlength: 6
                        }
                    },
                    messages: {
                        email: {
                            required: "Por favor, insira seu email. Ex: nome@emal.com",
                            email: "Digite um email válido"
                        },
                        senha: {
                            required: "Por favor, insira uma senha",
                            minlength: "A senha deve ter no mínimo 6 caracteres"
                        }
                    }
                });
            });
        </script>
    </body>         
</html>
