<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tabela Nutricional</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="login.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    </head>
    <body>
        <section class="vh-100 gradient-custom" style="margin-top: 80px">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem; height: 650px;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Insira login e senha!</p>
                                    <form id="login" action="#" th:action="@{/fazerLogin}" th:object="${usuario}" method="POST">
                                        <div data-mdb-input-init class="form-outline form-white mb-4">
                                            <input name="email" th:field="*{email}" type="email" id="email" class="form-control form-control-lg" required/>
                                            <label class="form-label" for="typeEmailX">Email</label>
                                        </div>
                                        <div data-mdb-input-init class="form-outline form-white mb-4">
                                            <input name="senha" th:field="*{senha}" type="password" id="senha" class="form-control form-control-lg" required minlength="6"/>
                                            <label class="form-label" for="typePasswordX">Senha</label>
                                        </div>
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" th:href="@{/atualizarSenha}">Esqueceu a senha?</a></p>
                                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> <br>
                                    </form>
                                    <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
                                    <br> <p class="mb-0">Não tem uma conta? <a th:href="@{/criarUsuario}" class="text-white-50 fw-bold">Cadastre-se</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                $("#login").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        senha: {
                            required: true,
                            minlength: 6
                        }
                    },
                    messages: {
                        email: {
                            required: "Por favor, insira seu email",
                            email: "Digite um email válido"
                        },
                        senha: {
                            required: "Por favor, insira uma senha",
                            minlength: "A senha deve ter no mínimo 6 caracteres"
                        }
                    }
                });
            });
        </script>
    </body> 
</html>
