<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cálculo TMB</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    </head> 
    <body>
        <div class="container"> 
            <h1>Cálculo TMB</h1> 
            <hr> 
            <h2>Calcular TMB</h2> 
            <form id="tmb" action="calcularTmb" object="" method="POST">
                <input id="masculino" type="radio" name="genero" value="masculino">
                <label for="masculino">Masculino</label>
                
                <input id="feminino" type="radio" name="genero" value="feminino">
                <label for="feminino">Feminino</label>
                
                <input id="idade" name="idade" type="number" field="idade" placeholder="Idade(anos)" class="form-control mt-4 col-4" required minlenght="1">
                <input id="peso" name="peso" type="number" field="peso" placeholder="Peso(kg)" class="form-control mt-4 col-4" required minlenght="1">
                <input id="altura" name="altura" type="number" field="altura" placeholder="Altura(cm)" class="form-control mt-4 col-4" required minlenght="2">
                <input type="hidden" field="id">
                <br>
                <button type="submit" class="btn btn-success col-2">Calcular</button> <br>
                <br> <label>Resultado:</label>
                <output type="text" name="resultado"></output>
            </form> 
             <hr> 
             <a href="/">Voltar</a> 
        </div>
        <script>
            $(document).ready(function () {
                $("#tmb").validate({
                    rules: {
                        idade: {
                            required: true,
                            minlength: 1
                        },
                        peso: {
                            required: true,
                            number: true,
                            minlength: 1
                        },
                        altura: {
                            required: true,
                            number: true,
                            minlength: 2
                        }
                    },
                    messages: {
                        idade: {
                            required: "Por favor, insira sua idade",
                            minlength: "A idade deve ter no mínimo 1 caractere"
                        },
                        peso: {
                            required: "Por favor, insira seu peso",
                            minlength: "O peso deve ter no mínimo 1 caractere"
                        },
                        altura: {
                            required: "Por favor, insira sua altura",
                            minlength: "A altura deve ter no mínimo 2 caracteres"
                        }
                    },
                    submitHandler: function (form) {
                        // Se tudo estiver válido, este código é executado
                        alert("Cálculo realizado com sucesso!");
                        form.submit();
                    }
                });
            });
                        </script>
    </body>         
</html>
